h3 {
  text-align: center;
}

h5 {
  margin: 0;
}

hr {
  border: 0;
  height: 4px;
  background: rgba(52, 64, 58, 0.75);
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(52, 64, 58, 1), rgba(0, 0, 0, 0));
}

th {
  font-family: 'Inconsolata', monospace;
  font-weight: 400;
  font-size: 1.5rem;
}

td {
  font-family: 'Big Shoulders Display', cursive;
  font-size: 1.5rem;
  text-align: center;
}

footer {
  text-align: center;
}

.header {
      margin: 2rem 0;
      font-family: 'Montserrat', sans-serif;
}

.carousel-item  {
  padding: 2% 0 4%;
}

.total-score {
  border-left: 10px solid lightgrey;
}

td.total-score {
  font-weight: bold;
  padding: auto 2%;
}

.cards-deck {
  position: absolute;
  bottom: -150px;
  right: 0px;
}

.card {
  position: absolute;
  top: 0;
  text-align: center;
  visibility: hidden;
  border: none;
}

.card-kn {
  position: relative;
}

.card-footer {
  position: relative;
}

.place {
  font-size:0.75rem;
  font-weight: bold;
  padding-bottom: 2px;
  font-family: 'Inconsolata', monospace;
  margin-bottom: 6.5px;
}

.kn {
  color: Tomato;
}

.bronze {
  color: #cd7f32;
}

.silver {
  color: #c0c0c0;
}

.gold {
  color: #D4AF37;
}

.fa-award {
  color: green;
  position: absolute;
  left: 92.2px;
  bottom: 8.2px;
}

@media (max-width: 576px){
  h1, h3, th, td{
    font-size: 1rem;
  }

  .cards-deck {
    right: -280px;
    z-index: 1;
  }
}


@media (max-width: 768px) and (min-width: 576px){
  h1, th, td{
    font-size: 1.5rem;
  }
}

@media (max-width: 995px){
  .cards-deck {
    display: none;
  }
}
